-- Enable RLS and create policies for public read access

-- Exercises table policies
ALTER TABLE public.exercises ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Allow
public
read
access
to
exercises\
ON public.exercises FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
exercises\
ON public.exercises FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
exercises\
ON public.exercises FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
exercises\
ON public.exercises FOR DELETE
USING (true);

-- Ingredients table policies
ALTER TABLE public.ingredients ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
ingredients\
ON public.ingredients FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
ingredients\
ON public.ingredients FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
ingredients\
ON public.ingredients FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
ingredients\
ON public.ingredients FOR DELETE
USING (true);

-- Workout programs table policies
ALTER TABLE public.workout_programs ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
workout_programs\
ON public.workout_programs FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
workout_programs\
ON public.workout_programs FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
workout_programs\
ON public.workout_programs FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
workout_programs\
ON public.workout_programs FOR DELETE
USING (true);

-- Workout days table policies
ALTER TABLE public.workout_days ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
workout_days\
ON public.workout_days FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
workout_days\
ON public.workout_days FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
workout_days\
ON public.workout_days FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
workout_days\
ON public.workout_days FOR DELETE
USING (true);

-- Workout exercises table policies
ALTER TABLE public.workout_exercises ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
workout_exercises\
ON public.workout_exercises FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
workout_exercises\
ON public.workout_exercises FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
workout_exercises\
ON public.workout_exercises FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
workout_exercises\
ON public.workout_exercises FOR DELETE
USING (true);

-- Workout sets table policies
ALTER TABLE public.workout_sets ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
workout_sets\
ON public.workout_sets FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
workout_sets\
ON public.workout_sets FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
workout_sets\
ON public.workout_sets FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
workout_sets\
ON public.workout_sets FOR DELETE
USING (true);

-- Meals table policies (if exists)
ALTER TABLE public.meals ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
meals\
ON public.meals FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
meals\
ON public.meals FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
meals\
ON public.meals FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
meals\
ON public.meals FOR DELETE
USING (true);

-- Meal items table policies (if exists)
ALTER TABLE public.meal_items ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
meal_items\
ON public.meal_items FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
meal_items\
ON public.meal_items FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
meal_items\
ON public.meal_items FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
meal_items\
ON public.meal_items FOR DELETE
USING (true);

-- Clients table policies
ALTER TABLE public.clients ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
clients\
ON public.clients FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
clients\
ON public.clients FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
clients\
ON public.clients FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
clients\
ON public.clients FOR DELETE
USING (true);

-- Workout assignments table policies
ALTER TABLE public.workout_assignments ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
workout_assignments\
ON public.workout_assignments FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
workout_assignments\
ON public.workout_assignments FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
workout_assignments\
ON public.workout_assignments FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
workout_assignments\
ON public.workout_assignments FOR DELETE
USING (true);

-- Performance logs table policies (if exists)
ALTER TABLE public.performance_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Allow
public
read
access
to
performance_logs\
ON public.performance_logs FOR SELECT
USING (true);

CREATE POLICY \Allow
public
insert
to
performance_logs\
ON public.performance_logs FOR INSERT
WITH CHECK (true);

CREATE POLICY \Allow
public
update
to
performance_logs\
ON public.performance_logs FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY \Allow
public
delete
to
performance_logs\
ON public.performance_logs FOR DELETE
USING (true);
